
<div class="container">
  <div class="row">
    <div class="col-6">
      <form action="/answer" data-turbo="false">
        <div class="mb-3">
          <label for="ask-question" class="form-label"></label>
          <input type="text" name="question" id="ask=question" class="form-control">
        </div>
        <input type="submit" value="Ask!" class="btn btn-primary">
      </form>
    </div>
  </div>

</div>
